@model Drack.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    ViewBag.Subtitle = "Reset your password.";
}

<div class="row">
    <div class="col-md-12">
        <section id="account-form">
            <div class="row text-center">
                <div class="col-sm-12">
                    <h3 class="font-weight-light text-secondary m-2">@ViewBag.Title</h3>
                    <p>
                        <i class="fas fa-lock-open icon-lg text-primary"></i>
                    </p>
                </div>
            </div>
            @using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-account", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <p class="font-weight-light text-center text-primary">@ViewBag.Subtitle</p>
                <hr />
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                @Html.LabelFor(m => m.Email, new { @class = "sr-only", @for = "Email" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email address", autofocus = "autofocus" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                @Html.LabelFor(m => m.Password, new { @class = "sr-only", @for = "Password" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", autofocus = "autofocus" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "sr-only", @for = "ConfirmPassword" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", autofocus = "autofocus" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })

                <input type="submit" value="Reset" class="btn btn-lg btn-primary btn-block" />
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}